<!-- <!DOCTYPE html>
<html>
<head>
  <title>Chat Widget Demo</title>
  <link rel="stylesheet" href="http://127.0.0.1:8000/static/widget.css" />
</head>
<body>
  <h1>Embed this chatbot on any site!</h1>
  <script>
    const API_URL = "http://127.0.0.1:8000";
  </script>
  <script src="http://127.0.0.1:8000/static/widget.js"></script>
</body>
</html>
 -->
 <!DOCTYPE html>
<html>
<head>
  <title>Chat Widget Demo</title>
  <link rel="stylesheet" href="/static/widget.css" />
</head>
<body>
  <h1>Ask anything related to mental health!!</h1>
  <script>
    const API_URL = window.location.origin;
  </script>
  <script src="/static/widget.js"></script>
</body>
</html>
